@{
    ViewData["Title"] = "Admin Home";
}

@section MetaTags{
    <meta name="robots" content="noindex">
}

<!--Page Title-->
<section class="page-title" style="background-image:url(../../images/banner-images/document.png)">
    <div class="auto-container">
        <div class="content">
            <h1>@ViewData["Title"]</h1>
            <ul class="page-breadcrumb">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li>@ViewData["Title"]</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!-- Services Section Three-->
<section class="services-section-three">
    <div class="auto-container">
        <div class="row clearfix">

            <!-- Services Block -->
            <div class="services-block-three style-two col-lg-4 col-md-6 col-sm-12">
                <a asp-controller="Admin" asp-action="UpdatePrice">
                    <div class="inner-box wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-money"></span>
                        </div>
                        <h6>Update Price</h6>
                        <div class="text">Manage Buy &amp; Sell price for Gold, Silver and Other precious metals</div>
                    </div>
                </a>
            </div>

            <div class="services-block-three style-two col-lg-4 col-md-6 col-sm-12">
                <a asp-controller="Admin" asp-action="MortgageRate">
                    <div class="inner-box wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon fa fa-percent"></span>
                        </div>
                        <h6>Update Mortgage Rate</h6>
                        <div class="text">Manage mortgage rate <br />&nbsp;</div>
                    </div>
                </a>
            </div>

            <div class="services-block-three style-two col-lg-4 col-md-6 col-sm-12">
                <a asp-controller="Client" asp-action="Index">
                    <div class="inner-box wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-cooperation"></span>
                        </div>
                        <h6>Clients</h6>
                        <div class="text">Manage clients' information and receipts</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
