@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="dropdown">
        <a href="#">Admin</a>
        <ul>
            <li>
                <a asp-controller="Admin" asp-action="Index">Home</a>
            </li>
            <li>
                <a asp-controller="Account" asp-action="ManageProfile">Manage Account</a>
            </li>
            <li>
                <a asp-controller="Employee" asp-action="Index">Manage Employees</a>
            </li>
            <li>
                <a asp-controller="Account" asp-action="Logout">Logout</a>
            </li>
        </ul>
    </li>
}
else
{
    @*<li><a asp-controller="Account" asp-action="Login">Login</a></li>*@
}