/* datepicker override */
td.disabled.day {
    cursor: no-drop !important;
}

.main-header .top-left .contact-list li span {
    font-size: 30px;
    /*color: rgb(209,174,124);*/
    color: #fff;
}

.sticky-header .auto-container .logo {
    padding-top: 10px;
}

    .sticky-header .auto-container .logo span {
        margin-left: 10px;
        color: #fff;
        font-size: 30px;
        vertical-align: text-bottom;
    }

        .sticky-header .auto-container .logo span a {
            color: #fff;
        }

.f-1rem {
    font-size: 1rem;
}

/* marquee */
.marquee {
    height: 30px;
    overflow: hidden;
    font-size: 18px;
    color: rgb(255, 255, 255);
    line-height: 35px;
    text-align: center;
}

#toast-container > div {
    opacity: 1;
}

.quote blockquote {
    position: relative;
    border: none;
    padding: 0px;
    margin-top: 40px;
    margin-bottom: 30px;
    background-color: #f4f7fc;
    padding: 45px 30px 45px 110px
}

    .quote blockquote .quote-icon {
        position: absolute;
        left: -20px;
        top: -20px;
        width: 113px;
        height: 113px;
        color: #0d179e;
        font-size: 40px;
        line-height: 113px;
        text-align: center;
        border-radius: 50%;
        background-color: #ffffff;
    }

    .quote blockquote .quote-text {
        position: relative;
        font-size: 20px;
        color: #1a1e66;
        font-weight: 400;
        line-height: 1.7em;
    }
