/* datepicker override */
td.disabled.day {
    cursor: no-drop !important;
}

.main-header .top-left .contact-list li span {
    font-size: 30px;
    /*color: rgb(209,174,124);*/
    color: #fff;
}

.sticky-header .auto-container .logo {
    padding-top: 10px;
}

    .sticky-header .auto-container .logo span {
        margin-left: 10px;
        color: #fff;
        font-size: 30px;
        vertical-align: text-bottom;
    }

        .sticky-header .auto-container .logo span a {
            color: #fff;
        }

.f-1rem {
    font-size: 1rem;
}

/* marquee */
.marquee {
    height: 30px;
    overflow: hidden;
    font-size: 18px;
    color: rgb(255, 255, 255);
    line-height: 35px;
    text-align: center;
}

#toast-container > div {
    opacity: 1;
}

span.quote{
    font-weight: bold;
    font-size: large;
}