@{
    ViewData["Title"] = "About";
}

@section MetaTags{
    <meta name="keywords" content="loan in barrie, buy gold, sell gold, gold price, home insurance, auto insurance, life insurance, personal loan, credit card, car loan, buy cheap car" />
    <meta name="description" content="Since 1989, we have been creating financial solutions for canadian families to achieve financial freedom, be mortgage free, unique investment strategies, improve cash flow & create healthy net worth." />
}

<!--Page Title-->
<section class="page-title lazy-image" data-src="/images/banner-images/about-us.jpg">
    <div class="auto-container">
        <div class="content">
            <h1>About Us</h1>
            <ul class="page-breadcrumb">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li>About Us</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!-- Services Section Three-->
<section class="services-section-three">
    <div class="auto-container">
        <div class="row clearfix">
            <!-- Services Block -->
            <div class="services-block-three style-two col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeIn" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="icon-box">
                        <span class="icon flaticon-eye"></span>
                    </div>
                    <h6 class="text-primary">Vision</h6>
                    <div class="text">Help ordinary people to achieve extra-ordinary dreams! <br />&nbsp;</div>
                </div>
            </div>

            <!-- Services Block -->
            <div class="services-block-three style-two col-lg-4 col-md-12 col-sm-12">
                <div class="inner-box wow fadeIn" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <div class="icon-box">
                        <span class="icon flaticon-target-1"></span>
                    </div>
                    <h6 class="text-primary">Mission</h6>
                    <div class="text">Creative financial plan to add few zeros to your bank account <br /> &nbsp;</div>
                </div>
            </div>
            <!-- Services Block -->
            <div class="services-block-three style-two col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="icon-box">
                        <span class="icon flaticon-bar-chart"></span>
                    </div>
                    <h6 class="text-primary">Personal Financial Growth</h6>
                    <div class="text">Decrease liabilities, increase net worth, improve cash flow, balance finance &amp; stress</div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About Section Four -->
<section class="about-section-four">
    <div class="auto-container">
        <div class="row clearfix">
            <!-- Content Column -->
            <div class="image-column col-lg-5 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="image-1">
                        <img class="lazy-image" data-src="/images/jewel_loanpower.png" alt="J P Finanace Group">
                        <noscript><img src="~/images/jewel_loanpower.png" alt="J P Finanace Group"></noscript>
                    </div>
                </div>
            </div>

            <!-- Skills Column -->
            <div class="skills-column col-lg-7 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="text">
                        <p>
                            Since 1989, we have been creating financial solutions for canadian families to achieve financial freedom, be mortgage free, unique investment strategies, improve cash flow &amp; create healthy net worth.
                        </p>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<!-- End About Section Four -->
