@{
    ViewData["Title"] = "Contact";
}

<!--Page Title-->
<section class="page-title" style="background-image:url(../../images/banner-images/contact-us.jpg)">
    <div class="auto-container">
        <div class="content">
            <h1>Contact us</h1>
            <ul class="page-breadcrumb">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li>Contact</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!-- Contact Page Section -->
<section class="contact-page-section">
    <div class="auto-container">
        <div class="inner-container">
            <h2>Contact us today</h2>
            <div class="row clearfix">

                <!-- Info Column -->
                <div class="info-column col-lg-12 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="text">
                            Please contact us using the information below.
                            For additional information, view our <strong><a asp-controller="Services" asp-action="Index">Services</a></strong> or book an appointment <strong><a href="https://calendly.com/harsh-rdave/60min">here</a></strong>.
                        </div>
                        <ul class="list-style-five">
                            <li><span class="icon fa fa-building"></span> 320 Bayfield St, Suite 106A, <br /> Barrie, ON L4M 3C1</li>
                            <li><span class="icon fa fa-fax"></span> (416) 705 3885</li>
                            <li><span class="icon fa fa-envelope-o"></span>hpandya247@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Team Page Section -->