@{
    ViewData["Title"] = "Home";
}

@section MetaTags{
    <meta name="keywords" content="j p finance chase, finance solutions, gold, buy gold at cheap price, best finance advisor in barrie, car loans, buy iphone" />
    <meta name="description" content="Since 1989, we have been creating financial solutions for canadian families to achieve financial freedom, be mortgage free, unique investment strategies, improve cash flow & create healthy net worth." />
}

<!--Main Slider-->
<section class="main-slider style-four">
    <div class="main-slider-carousel owl-carousel owl-theme">

        <div class="slide" style="background-image:url(images/gold/retail-financing-programs-min.jpg)">
            <div class="auto-container">
                <div class="content">
                    <img src="~/images/logo_building-min.jpg" alt="J P Finance Logo" />
                    @*<div class="title">We hope success</div>
                        <h1>One stop solution for your all needs</h1>
                        <div class="text">We provide wide range of services to satisfy your needs.</div>
                        <div class="link-box">
                            <a asp-controller="Services" asp-action="Index" class="theme-btn btn-style-twelve">Let’s start now <span class="fa fa-angle-right"></span></a>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
    <!--End Slide Info Boxed-->

</section>
<!--End Main Slider-->
<!-- About Section Four -->
<section class="about-section-four">
    <div class="auto-container">
        <!-- Sec Title Three -->
        <div class="sec-title-three">
            <div class="clearfix">
                <h2>Only $4 Interest per $100 Loan! (30 days)*</h2>
                <h4>Get a loan/pawn your gold, diamonds, watches, etc.</h4>
                @*<div class="text" style="min-width: 100%">
                        Rolex, Cartier, Tiffany, Omega, Gold Bars,
                        LV, Gucci, Chanel Purses, Swarvoski, Baccarat, Lalique Crystals,
                        Luxury Dinnerwear and Silverwear, Coins, Apple iPad, iPhone, TV etc.
                    </div>*@
            </div>
        </div>

        <div class="row clearfix">
            <!-- Content Column -->
            <div class="image-column col-lg-5 col-md-7 col-sm-12">
                <div class="inner-column">
                    <div class="image-1">
                        <img class="lazy-image" data-src="/images/jewel_loanpower-min.png" alt="Loan">
                        <noscript><img src="~/images/jewel_loanpower-min.png" alt="Loan"></noscript>
                    </div>
                </div>
            </div>

            <div class="skills-column col-lg-7 col-md-5 col-sm-12">
                <div class="row clearfix">
                    <div class="col-12">
                        <div class="text">
                            <p class="f-1rem">
                                We accept precious things like Rolex, Cartier, Tiffany, Omega, Gold Bars,
                                LV, Gucci, Chanel Purses, Swarvoski, Baccarat, Lalique Crystals,
                                Luxury Dinnerwear and Silverwear, Coins, Apple iPad, iPhone, TV, etc.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row clearfix mt-3">
                    <div class="col-2 col-md-3 col-lg-2">
                        <img class="lazy-image" data-src="/images/brand-logos/Logo_Apple.png" alt="Apple" />
                        <noscript><img src="~/images/brand-logos/Logo_Apple.png" alt="Apple" /></noscript>
                    </div>
                    <div class="col-2 col-md-3 col-lg-2">
                        <img class="lazy-image" data-src="/images/brand-logos/Logo_Baccarat.png" alt="Baccarat" />
                        <noscript><img src="~/images/brand-logos/Logo_Baccarat.png" alt="Baccarat" /></noscript>
                    </div>
                    <div class="col-2 col-md-3 col-lg-2">
                        <img class="lazy-image" data-src="/images/brand-logos/Logo_Chanel.png" alt="Chanel" />
                        <noscript><img src="~/images/brand-logos/Logo_Chanel.png" alt="Chanel" /></noscript>
                    </div>
                    <div class="col-2 col-md-3 col-lg-2">
                        <img class="lazy-image" data-src="/images/brand-logos/Logo_Cartier.png" alt="Cartier" />
                        <noscript><img src="~/images/brand-logos/Logo_Cartier.png" alt="Cartier" /></noscript>
                    </div>
                    <div class="col-2 col-md-3 col-lg-2">
                        <img class="lazy-image" data-src="/images/brand-logos/Logo_Gucci.jpg" alt="Gucci" />
                        <noscript> <img src="~/images/brand-logos/Logo_Gucci.jpg" alt="Gucci" /></noscript>
                    </div>
                    <div class="col-2 col-md-3 col-lg-2">
                        <img class="lazy-image" data-src="/images/brand-logos/Logo_Lallique.png" alt="Lallique" />
                        <noscript><img src="~/images/brand-logos/Logo_Lallique.png" alt="Lallique" /></noscript>
                    </div>
                    <div class="col-3 col-md-4 col-lg-3">
                        <img class="lazy-image" data-src="/images/brand-logos/Logo_LV.png" alt="LV" />
                        <noscript><img src="~/images/brand-logos/Logo_LV.png" alt="LV" /></noscript>
                    </div>
                    <div class="col-2 col-md-3 col-lg-2">
                        <img class="lazy-image" data-src="/images/brand-logos/Logo_Omega.png" alt="Omega" />
                        <noscript><img src="~/images/brand-logos/Logo_Omega.png" alt="Omega" /></noscript>
                    </div>
                    <div class="col-2 col-md-3 col-lg-2">
                        <img class="lazy-image" data-src="/images/brand-logos/Logo_Rolex.png" alt="Rolex" />
                        <noscript><img src="~/images/brand-logos/Logo_Rolex.png" alt="Rolex" /></noscript>
                    </div>
                    <div class="col-2 col-md-3 col-lg-2">
                        <img class="lazy-image" data-src="/images/brand-logos/Logo_Swarovski.jpg" alt="Swarovski" />
                        <noscript><img src="~/images/brand-logos/Logo_Swarovski.jpg" alt="Swarovski" /></noscript>
                    </div>
                    <div class="col-3 col-md-4 col-lg-3">
                        <img class="lazy-image" data-src="/images/brand-logos/Logo_Tiffany.png" alt="Tiffany" />
                        <noscript><img src="~/images/brand-logos/Logo_Tiffany.png" alt="Tiffany" /></noscript>
                    </div>
                </div>
            </div>

            @*<!-- Skills Column -->
                <div class="skills-column col-lg-7 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="row clearfix">
                            <!-- Services Block Thirteen -->
                            <div class="services-block-thirteen col-lg-4 col-md-6 col-sm-12">
                                <div class="inner-box">
                                    <div class="icon-box">
                                        <span class="icon flaticon-headphones"></span>
                                    </div>
                                    <h5>Within 24 hours <br> <span class="text-muted f-1rem">Response</span></h5>
                                </div>
                            </div>
                            <!-- Services Block Thirteen -->
                            <div class="services-block-thirteen col-lg-4 col-md-6 col-sm-12">
                                <div class="inner-box">
                                    <div class="icon-box alternate">
                                        <span class="icon flaticon-loading"></span>
                                    </div>
                                    <h5>Since 1989 <br> <span class="text-muted f-1rem">Experience</span></h5>
                                </div>
                            </div>
                            <!-- Services Block Thirteen -->
                            <div class="services-block-thirteen col-lg-4 col-md-12 col-sm-12">
                                <div class="inner-box">
                                    <div class="icon-box">
                                        <span class="icon flaticon-creativity"></span>
                                    </div>
                                    <h5>Creative <br> <span class="text-muted f-1rem">Finance Idea</span></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
</section>
<!-- End About Section Four -->
<!-- Services Section Ten -->
<section class="services-section-ten">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title-three centered">
            <div class="title">Our dedicated services</div>
        </div>
        <div class="row clearfix">
            <!-- Services Block Fourteen -->
            <div class="services-block-fourteen col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="box-one"></div>
                    <div class="box-two"></div>
                    <div class="icon-box">
                        <span class="icon flaticon-banknote"></span>
                    </div>
                    <h6><a asp-controller="Services" asp-action="Loan">Pawn <br>Precious Things</a></h6>
                </div>
            </div>
            <!-- Services Block Fourteen -->
            <div class="services-block-fourteen col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="box-one"></div>
                    <div class="box-two"></div>
                    <div class="icon-box">
                        <span class="icon flaticon-money"></span>
                    </div>
                    <h6><a asp-controller="Services" asp-action="BuySellGold">Trade <br /> Precious Metal</a></h6>
                </div>
            </div>
            <!-- Services Block Fourteen -->
            <div class="services-block-fourteen col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <div class="box-one"></div>
                    <div class="box-two"></div>
                    <div class="icon-box">
                        <span class="icon flaticon-budget"></span>
                    </div>
                    <h6><a asp-controller="Services" asp-action="Mortgage">Mortgage <br />&nbsp;</a></h6>
                </div>
            </div>
            <!-- Services Block Fourteen -->
            <div class="services-block-fourteen col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="900ms" data-wow-duration="1500ms">
                    <div class="box-one"></div>
                    <div class="box-two"></div>
                    <div class="icon-box">
                        <span class="icon flaticon-house"></span>
                        <span class="icon flaticon-car"></span>
                    </div>
                    <h6><a asp-controller="Services" asp-action="HAInsurance">Home &amp; Auto <br> Insurance</a></h6>
                </div>
            </div>
            <!-- Services Block Fourteen -->
            <div class="services-block-fourteen col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="box-one"></div>
                    <div class="box-two"></div>
                    <div class="icon-box">
                        <span class="icon flaticon-heartbeat"></span>
                    </div>
                    <h6><a asp-controller="Services" asp-action="LifeInsurance">Life <br> Insurance</a></h6>
                </div>
            </div>
            <!-- Services Block Fourteen -->
            <div class="services-block-fourteen col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <div class="box-one"></div>
                    <div class="box-two"></div>
                    <div class="icon-box">
                        <span class="icon flaticon-money-bag"></span>
                    </div>
                    <h6><a asp-controller="Services" asp-action="PersonalLoan">Personal <br> Loan</a></h6>
                </div>
            </div>
            <!-- Services Block Fourteen -->
            <div class="services-block-fourteen col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="box-one"></div>
                    <div class="box-two"></div>
                    <div class="icon-box">
                        <span class="icon flaticon-car"></span>
                        <span class="icon flaticon-banknote"></span>

                    </div>
                    <h6><a asp-controller="Services" asp-action="CarLoan">Car <br />Loan</a></h6>
                </div>
            </div>
            <!-- Services Block Fourteen -->
            <div class="services-block-fourteen col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="box-one"></div>
                    <div class="box-two"></div>
                    <div class="icon-box">
                        <span class="icon fa fa-credit-card"></span>
                    </div>
                    <h6><a asp-controller="Services" asp-action="CreditCards">Credit <br>Cards</a></h6>
                </div>
            </div>
            <!-- Services Block Fourteen -->
            <div class="services-block-fourteen col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="box-one"></div>
                    <div class="box-two"></div>
                    <div class="icon-box">
                        <span class="icon flaticon-earnings"></span>
                    </div>
                    <h6><a asp-controller="Services" asp-action="FinancePlanning">Investment &amp; Financial Planning</a></h6>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Section Ten -->
<!--Sponsors Section-->
<section class="sponsors-section">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title-three centered">
            <div class="title">Our Partners</div>
        </div>
        <div class="carousel-outer">
            <!--Sponsors Slider-->
            <ul class="sponsors-carousel owl-carousel owl-theme">
                <li>
                    <div class="image-box">
                        <a href="javascript:void(0)">
                            <img class="lazy-image" data-src="/images/partners/td.png" alt="td bank">
                            <noscript><img src="~/images/partners/td.png" alt="td bank"></noscript>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="image-box">
                        <a href="javascript:void(0)">
                            <img class="lazy-image" data-src="/images/partners/scotiabank.png" alt="scotia bank">
                            <noscript><img src="~/images/partners/scotiabank.png" alt="scotia bank"></noscript>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="image-box">
                        <a href="javascript:void(0)">
                            <img class="lazy-image" data-src="/images/partners/attain.png" alt="attain">
                            <noscript><img src="~/images/partners/attain.png" alt="attain"></noscript>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="image-box">
                        <a href="javascript:void(0)">
                            <img class="lazy-image" data-src="/images/partners/firstnational.png" alt="first national">
                            <noscript><img src="~/images/partners/firstnational.png" alt="first national"></noscript>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="image-box">
                        <a href="javascript:void(0)">
                            <img class="lazy-image" data-src="/images/partners/mcap.png" alt="mcap">
                            <noscript><img src="~/images/partners/mcap.png" alt="mcap"></noscript>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="image-box">
                        <a href="javascript:void(0)">
                            <img class="lazy-image" data-src="/images/partners/b2b.png" alt="b2b">
                            <noscript><img src="~/images/partners/b2b.png" alt="b2b"></noscript>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="image-box">
                        <a href="javascript:void(0)">
                            <img class="lazy-image" data-src="/images/partners/hometrust.png" alt="home trust">
                            <noscript><img src="~/images/partners/hometrust.png" alt="home trust"></noscript>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="image-box">
                        <a href="javascript:void(0)">
                            <img class="lazy-image" data-src="/images/partners/merix.png" alt="merix">
                            <noscript><img src="~/images/partners/merix.png" alt="merix"></noscript>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="image-box">
                        <a href="javascript:void(0)">
                            <img class="lazy-image" data-src="/images/partners/equitablebank.png" alt="quitable bank">
                            <noscript><img src="~/images/partners/equitablebank.png" alt="quitable bank"></noscript>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="image-box">
                        <a href="javascript:void(0)">
                            <img class="lazy-image" data-src="/images/partners/streetcapital.png" alt="street capital">
                            <noscript><img src="~/images/partners/streetcapital.png" alt="street capital"></noscript>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="image-box">
                        <a href="javascript:void(0)">
                            <img class="lazy-image" data-src="/images/partners/cmls.png" alt="cmls">
                            <noscript><img src="~/images/partners/cmls.png" alt="cmls"></noscript>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="image-box">
                        <a href="javascript:void(0)">
                            <img class="lazy-image" data-src="/images/partners/fisgard.png" alt="fisgard">
                            <noscript><img src="~/images/partners/fisgard.png" alt="fisgard"></noscript>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="image-box">
                        <a href="javascript:void(0)">
                            <img class="lazy-image" data-src="/images/partners/icicibank.png" alt="icici bank">
                            <noscript><img src="~/images/partners/icicibank.png" alt="icici bank"></noscript>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="image-box">
                        <a href="javascript:void(0)">
                            <img class="lazy-image" data-src="/images/partners/optimummortgage.png" alt="optimum mortgage">
                            <noscript><img src="~/images/partners/optimummortgage.png" alt="optimum mortgage"></noscript>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="image-box">
                        <a href="javascript:void(0)">
                            <img class="lazy-image" data-src="/images/partners/rmg.png" alt="rmg">
                            <noscript><img src="~/images/partners/rmg.png" alt="rmg"></noscript>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="image-box">
                        <a href="javascript:void(0)">
                            <img class="lazy-image" data-src="/images/partners/bridgewater.png" alt="bridge water">
                            <noscript><img src="~/images/partners/bridgewater.png" alt="bridge water"></noscript>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="image-box">
                        <a href="javascript:void(0)">
                            <img class="lazy-image" data-src="/images/partners/marathon.png" alt="marathon">
                            <noscript><img src="~/images/partners/marathon.png" alt="marathon"></noscript>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>