@{
    ViewData["Title"] = "Error";
}

@section MetaTags{
    <meta name="robots" content="noindex">
}

<!--Page Title-->
<section class="page-title" style="background-image:url(../../images/banner-images/error.jpg)">
    <div class="auto-container">
        <div class="content">
            <h1>Opps!</h1>
            <ul class="page-breadcrumb">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li>Error</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!-- Error Section -->
<section class="error-section">
    <div class="auto-container">
        <div class="inner-section">
            <div class="left-error">Error</div>
            <div class="right-error">Error</div>
            <div class="title">opps! We are sorry</div>
            <h1>We had trouble processing your request</h1>
            <a asp-controller="Home" asp-action="Index" class="theme-btn btn-style-sixteen">Go back to home <span class="fa fa-angle-right"></span></a>
        </div>
    </div>
</section>
<!-- End Error Section -->