@using jpfc.ConfigOptions
@using Microsoft.Extensions.Options
@inject IOptions<ContactInfoOptions> ContactInfoOptions
@{
    ViewData["Title"] = "Trade Precious Metal Bullion";
    ViewData.AddActivePage(ServicesNavPages.BuySellGold);
}

@section MetaTags{
    <meta name="keywords" content="buy gold, sell gold, trade precious metal, trade gold in Barrie, gold price in Canada, silver price in Canada" />
    <meta name="description" content="Investors can trade gold & precious metal bullions at competitive market price. International investors are welcome!" />
}

@section Styles{
    <link href="~/lib/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/DataTables/Buttons-1.5.6/css/buttons.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <link href="~/lib/spin/spin.css" rel="stylesheet" />
}

<!--Page Title-->
<section class="page-title lazy-image" data-src="/images/banner-images/gold-bar.jpg">
    <div class="auto-container">
        <div class="content">
            <h1>@ViewData["Title"]</h1>
            <ul class="page-breadcrumb">
                <li><a asp-controller="Services" asp-action="Index">Services</a></li>
                <li>@ViewData["Title"]</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!--Sidebar Page Container-->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">

            @* side bar nav will not appear on mobile device *@
            <partial name="~/Views/Services/_ServicesNavSideBar.cshtml" />

            <!--Content Side-->
            <div class="content-side col-lg-8 col-md-8 col-sm-12">
                <div class="services-single">
                    <h4>Trade Precious Metal Bullion Bars</h4>

                    <!-- Services Gallery -->
                    <div class="services-gallery">
                        <div class="services-carousel owl-carousel owl-theme">
                            <div class="slide">
                                <div class="image">
                                    <img class="lazy-image" data-src="/images/1_oz_platinum_maple_leaf_coin.jpg" alt="Buy Gold">
                                    <noscript><img src="~/images/1_oz_platinum_maple_leaf_coin.jpg" alt="Buy Gold"></noscript>
                                </div>
                            </div>
                            <div class="slide">
                                <div class="image">
                                    <img class="lazy-image" data-src="/images/jpfc-goldbar-min.jpg" alt="Gold bar" style="height: 450px;">
                                    <noscript><img src="~/images/jpfc-goldbar-min.jpg" alt="Gold bar" style="height: 450px;"></noscript>
                                </div>
                            </div>
                            <div class="slide">
                                <div class="image">
                                    <img class="lazy-image" data-src="/images/precious-metal-min.jpg" alt="Precious metal">
                                    <noscript><img src="~/images/precious-metal-min.jpg" alt="Precious metal"></noscript>
                                </div>
                            </div>
                            <div class="slide">
                                <div class="image">
                                    <img class="lazy-image" data-src="/images/Buying-Platinum-min.jpg" alt="Buy Platinum">
                                    <noscript> <img src="~/images/Buying-Platinum-min.jpg" alt="Buy Platinum"></noscript>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text">
                        <p>Investors can trade gold &amp; precious metal bullions at competitive market price. International investors are welcome!!</p>
                    </div>
                    <ul class="list-style-four">
                        <li><strong>Minimum CAD$2000 investment required to trade gold bullion</strong></li>
                        <li>We offer loan against your bullions for instant cash liquidity</li>
                        <li>We deliver bullion within 1 week once buy order is booked &amp; fund is received</li>
                        <li>We deliver to your home/office address or pick-up from our office <br /><span class="text-muted small">(Shipping charges will apply for delivery)</span></li>
                        <li>
                            Once sell order is booked &amp; your bullion bars are received, we will issue payment within 24 hours to your choice of payment options
                            - E-Transfer, bank account deposit, cheque, wire transfer, <a href="https://www.westernunion.com/ca/en/home.html" target="_blank">Western Union</a><br />
                            <span class="text-muted small">(Some fee may apply for fund transfer based on payment option)</span>
                        </li>
                        <li>For faster trade, you can visit our office in Barrie, ON</li>
                    </ul>
                    <!-- Price table -->
                    <div class="row mt-5">
                        <div class="col-12">
                            <h4>Our Price</h4>
                            <p class="text-dark">We update our prices frequently. For most updated price, call <a href="tel:@ContactInfoOptions.Value.Phone">@ContactInfoOptions.Value.Phone</a></p>
                        </div>
                    </div>
                    <div class="row clearfix mt-2">
                        <div class="col-md-4 col-sm-6">
                            <div class="form-group">
                                @*<label for="date-filter" class="font-weight-bold">Date</label>*@
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                    </div>
                                    <input id="date-filter" type="text" class="form-control" value="@DateTime.Now.ToString("MM/dd/yyyy")" readonly asp-format="{0:MM/dd/yyyy}" style="cursor: pointer;" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="price-table">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th width="120px">Date</th>
                                            <th width="150px">Metal</th>
                                            <th width="100px">Purity</th>
                                            <th>Price (CAD)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @* dataTable ajax *@
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!--Services Info Tabs-->
                    @*<div class="Services-info-tabs">
                            <!--Service Tabs-->
                            <div class="service-tabs tabs-box">

                                <!--Tab Btns-->
                                <ul class="tab-btns tab-buttons clearfix">
                                    <li data-tab="#prod-audit" class="tab-btn active-btn">Audit</li>
                                    <li data-tab="#prod-strategy" class="tab-btn">Strategy</li>
                                    <li data-tab="#prod-sustainability" class="tab-btn">Sustainability</li>
                                </ul>

                                <!--Tabs Container-->
                                <div class="tabs-content">

                                    <!--Tab / Active Tab-->
                                    <div class="tab active-tab" id="prod-audit">
                                        <div class="content">
                                            <div class="text">
                                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan tium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                                                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequun tur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Tab-->
                                    <div class="tab" id="prod-strategy">
                                        <div class="content">
                                            <div class="text">
                                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan tium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                                                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequun tur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Tab-->
                                    <div class="tab" id="prod-sustainability">
                                        <div class="content">
                                            <div class="text">
                                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan tium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                                                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequun tur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>*@
                </div>
            </div>

        </div>
    </div>
</div>
<!--End Sidebar Page Container-->

@section Scripts{
    <script src="~/lib/moment/moment.js"></script>
    <script src="~/lib/DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/DataTables/Plug-ins/datatable-moment.js"></script>
    <script src="~/lib/DataTables/Buttons-1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/DataTables/Buttons-1.5.6/js/buttons.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="~/lib/DataTables/Buttons-1.5.6/js/buttons.html5.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/spin/spin.js" asp-append-version="true"></script>

    <script src="~/js/pages/services-buysellgold.js" asp-append-version="true"></script>

    <script>
        var vm = {};

        $(document).ready(function () {
            Jpfc.ServicesBuySellGold.init(vm);
        });
    </script>
}