@using jpfc.ConfigOptions
@using Microsoft.Extensions.Options
@inject IOptions<ContactInfoOptions> ContactInfoOptions
@{
    ViewData["Title"] = "Credit Cards";
    ViewData.AddActivePage(ServicesNavPages.CreditCards);
}

@section Styles{
    <link href="~/lib/fancybox/jquery.fancybox.min.css" rel="stylesheet" />
}

<!--Page Title-->
<section class="page-title" style="background-image:url(../../images/banner-images/credit-cards.jpg)">
    <div class="auto-container">
        <div class="content">
            <h1>@ViewData["Title"]</h1>
            <ul class="page-breadcrumb">
                <li><a asp-controller="Services" asp-action="Index">Services</a></li>
                <li>@ViewData["Title"]</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!--Sidebar Page Container-->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">

            @* side bar nav will not appear on mobile device *@
            <partial name="~/Views/Services/_ServicesNavSideBar.cshtml" />

            <!--Content Side-->
            <div class="content-side col-lg-8 col-md-8 col-sm-12">
                <div class="services-single">
                    <h4>Credit Card</h4>
                    <!--Services Info Tabs-->
                    <div class="Services-info-tabs">
                        <!--Service Tabs-->
                        <div class="service-tabs tabs-box">
                            <!--Tab Btns-->
                            <ul class="tab-btns tab-buttons clearfix">
                                <li data-tab="#mastercard" class="tab-btn active-btn">MasterCard</li>
                                @*<li data-tab="#visa" class="tab-btn">Visa</li>*@
                            </ul>
                            <!--Tabs Container-->
                            <div class="tabs-content">
                                <!--Tab / Active Tab-->
                                <div class="tab active-tab" id="mastercard">
                                    <div class="content">
                                        <!-- Services Gallery -->
                                        <div class="services-gallery">
                                            <div class="services-carousel owl-carousel owl-theme">
                                                <div class="slide">
                                                    <div class="image">
                                                        <img src="~/images/mastercard-logo.png" alt="">
                                                    </div>
                                                </div>
                                                <div class="slide">
                                                    <div class="image">
                                                        <img src="~/images/mastercard-verico.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="list-style-four">
                                            <li>Interest as low as 9.90%</li>
                                            <li>Student MasterCard is available</li>
                                            <li>Visit following links for more information</li>
                                        </ul>

                                        <ul class="ml-3 list-style-one">
                                            <li>
                                                <a class="image" href="~/images/cc-grid.png">View product lineup</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!--Tab-->
                                @*<div class="tab" id="visa">
                                <div class="content">
                                    <div class="text">
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan tium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequun tur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                    </div>
                                </div>
                            </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Sidebar Page Container-->

@section Scripts{
    <script src="~/lib/fancybox/jquery.fancybox.min.js"></script>
    <script src="~/js/pages/services-creditcards.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            Jpfc.ServicesCreditCards.init();
        });
    </script>
}