@using jpfc.ConfigOptions
@using Microsoft.Extensions.Options
@inject IOptions<ContactInfoOptions> ContactInfoOptions
@{
    ViewData["Title"] = "Credit Cards";
    ViewData.AddActivePage(ServicesNavPages.CreditCards);
}

@section MetaTags{
    <meta name="keywords" content="apply for a mastercard, get mastercard in Canada, get credit card, apply for visa credit card, credit score" />
    <meta name="description" content="Get a credit card at interest rate of as low as 9.90%. We also offer student creidt cards." />
}
@section Styles{
    <style>
        .services-gallery .owl-stage-outer {
            max-height: 270px;
        }
    </style>
}

<!--Page Title-->
<section class="page-title lazy-image" data-src="/images/banner-images/credit-cards-min.jpg">
    <div class="auto-container">
        <div class="content">
            <h1>@ViewData["Title"]</h1>
            <ul class="page-breadcrumb">
                <li><a asp-controller="Services" asp-action="Index">Services</a></li>
                <li>@ViewData["Title"]</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!--Sidebar Page Container-->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">

            @* side bar nav will not appear on mobile device *@
            <partial name="~/Views/Services/_ServicesNavSideBar.cshtml" />

            <!--Content Side-->
            <div class="content-side col-lg-8 col-md-8 col-sm-12">
                <div class="services-single">
                    <h4>Credit Card</h4>
                    <!--Services Info Tabs-->
                    <div class="Services-info-tabs">
                        <!--Service Tabs-->
                        <div class="service-tabs tabs-box">
                            <!--Tab Btns-->
                            <ul class="tab-btns tab-buttons clearfix">
                                <li data-tab="#mastercard" class="tab-btn active-btn">MasterCard</li>
                                @*<li data-tab="#visa" class="tab-btn">Visa</li>*@
                            </ul>
                            <!--Tabs Container-->
                            <div class="tabs-content">
                                <!--Tab / Active Tab-->
                                <div class="tab active-tab" id="mastercard">
                                    <div class="content">
                                        <!-- Services Gallery -->
                                        <div class="services-gallery">
                                            <div class="services-carousel owl-carousel owl-theme">
                                                <div class="slide">
                                                    <div class="image">
                                                        <img class="lazy-image" data-src="/images/mastercard-logo.png" alt="MasterCard">
                                                        <noscript><img src="~/images/mastercard-logo.png" alt="MasterCard"></noscript>
                                                    </div>
                                                </div>
                                                <div class="slide">
                                                    <div class="image">
                                                        <img class="lazy-image" data-src="/images/mastercard-verico-min.png" alt="Credit Card">
                                                        <noscript><img src="~/images/mastercard-verico-min.png" alt="Credit Card"></noscript>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="list-style-four">
                                            <li>Interest as low as 9.90%</li>
                                            <li>Student MasterCard is available</li>
                                            <li>Visit following links for more information</li>
                                        </ul>

                                        <ul class="ml-3 list-style-one">
                                            <li>
                                                <a class="lightbox-image" href="~/images/cc-grid.png">View product lineup</a>
                                            </li>                                            
                                        </ul>
                                        <ul class="list-style-four">
                                            <li>
                                                <a href="https://www.collabriacreditcards.ca/affiliate_verico-financial-group/cards/personal-cards/?empid=pandyah" target="_blank">Click here <span class="fa fa-external-link"></span></a> to apply now!
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!--Tab-->
                                @*<div class="tab" id="visa">
                                        <div class="content">
                                            <div class="text">
                                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan tium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                                                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequun tur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                            </div>
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Sidebar Page Container-->