@using jpfc.ConfigOptions
@using Microsoft.Extensions.Options
@inject IOptions<ContactInfoOptions> ContactInfoOptions
@{
    ViewData["Title"] = "Investment & Finance Planning";
    ViewData.AddActivePage(ServicesNavPages.FinancePlanning);
}

@section MetaTags{
    <meta name="keywords" content="how to invest properly, invest money in Canada, financial planning techniques, invest in real estate, how to improve bank balance" />
    <meta name="description" content="Investment and finance planning have major effects on your financial health.
                            Every single person wants to reduce financial stress and achieve financial freedom.
                            We provide customized financial prescription to improve financial health." />
}

<!--Page Title-->
<section class="page-title" style="background-image:url(../../images/investment-2-min.png)">
    <div class="auto-container">
        <div class="content">
            <h1>@ViewData["Title"]</h1>
            <ul class="page-breadcrumb">
                <li><a asp-controller="Services" asp-action="Index">Services</a></li>
                <li>@ViewData["Title"]</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!--Sidebar Page Container-->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">

            @* side bar nav will not appear on mobile device *@
            <partial name="~/Views/Services/_ServicesNavSideBar.cshtml" />

            <!--Content Side-->
            <div class="content-side col-lg-8 col-md-8 col-sm-12">
                <div class="services-single">
                    <h4>@ViewData["Title"]</h4>
                    <div class="image">
                        <img src="~/images/investment-1-min.png" alt="">
                    </div>
                    <!-- Services Gallery -->
                    <div class="services-gallery">
                        <div class="services-carousel owl-carousel owl-theme">
                            <div class="slide">
                                <div class="image">
                                    <img src="~/images/financial-stress1-min.png" alt="">
                                </div>
                            </div>
                            <div class="slide">
                                <div class="image">
                                    <img src="~/images/investment-4-min.png" alt="">
                                </div>
                            </div>
                            <div class="slide">
                                <div class="image">
                                    <img src="~/images/investment-5-min.png" alt="">
                                </div>
                            </div>
                            <div class="slide">
                                <div class="image">
                                    <img src="~/images/investment-6-min.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text">
                        <p>
                            Investment and finance planning have major effects on your financial health.
                            Every single person wants to reduce financial stress and achieve financial freedom.
                            We provide financial prescription to improve financial health.
                            Our customized financial plan will assist you to achieve your financial goals in life.
                            <br />Contact us for free consultation (1 hour free consultation)
                            <br /><span class="text-danger">* we do not guarantee any rates of return, ROI (Return On Investment) or promise of performance</span>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--End Sidebar Page Container-->