@using jpfc.ConfigOptions
@using Microsoft.Extensions.Options
@inject IOptions<ContactInfoOptions> ContactInfoOptions
@{
    ViewData["Title"] = "Home & Auto Insurance";
    ViewData.AddActivePage(ServicesNavPages.HAInsurance);
}

@section MetaTags{
    <meta name="keywords" content="home insurance, auto insurance, car insurance in Barrie, how to protect my car, home insurance in Barrie, verico insurance, cheap auto insurance" />
    <meta name="description" content="Home & Auto insurance at competitive price - Take an advantage of our wholesale volume pricing." />
}

<!--Page Title-->
<section class="page-title" style="background-image:url(../../images/home-insur-verico-min.png)">
    <div class="auto-container">
        <div class="content">
            <h1>@ViewData["Title"]</h1>
            <ul class="page-breadcrumb">
                <li><a asp-controller="Services" asp-action="Index">Services</a></li>
                <li>@ViewData["Title"]</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!--Sidebar Page Container-->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">

            @* side bar nav will not appear on mobile device *@
            <partial name="~/Views/Services/_ServicesNavSideBar.cshtml" />

            <!--Content Side-->
            <div class="content-side col-lg-8 col-md-8 col-sm-12">
                <div class="services-single">
                    <h4>@ViewData["Title"]</h4>
                    <div class="image">
                        <img src="~/images/home-insur-verico-min.png" alt="Home auto insurance">
                    </div>
                    <!-- Services Gallery -->
                    @*<div class="services-gallery">
                            <div class="services-carousel owl-carousel owl-theme">
                                <div class="slide">
                                    <div class="image">
                                        <img src="~/images/home-insur.jpg" alt="">
                                    </div>
                                </div>
                                <div class="slide">
                                    <div class="image">
                                        <img src="~/images/auto-insur.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    <div class="text mt-3">
                        <p>
                            Home &amp; Auto insurance at competitive price - Take an advantage of our wholesale volume pricing.
                        </p>
                    </div>
                    <ul class="list-style-one">
                        <li>Homeowners, condo (FLAGSHIP)</li>
                    </ul>
                    <ul class="ml-4 list-style-four">
                        <li>Rented Dwellings/condos, tenants</li>
                        <li>Secondary/Seasonal homes</li>
                        <li>Course of construction</li>
                        <li>Commercial buildings and CGL policies</li>
                        <li>E&O</li>
                        <li>Vacation and travel trailers</li>
                        <li>Mobile homes</li>
                    </ul>
                    <ul class="list-style-one">
                        <li>Auto</li>
                    </ul>
                    <ul class="ml-4 list-style-four">
                        <li>Personal private passenger vehicles</li>
                        <li>Business use vehicles</li>
                        <li>Commercial automobile insurance</li>
                        <li>Snowmobiles</li>
                        <li>ATV’s</li>
                        <li>Motorhomes</li>
                        <li>Motorcycles</li>
                    </ul>
                    <div class="text mt-3">
                        <p>
                            <strong>Province Available</strong> <br />
                            Both Home & Auto: ON, AB, NB, NS <br />
                            Home Only: BC
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Sidebar Page Container-->