@{
    ViewData["Title"] = "Services";
}

<!--Page Title-->
<section class="page-title" style="background-image:url(../../images/banner-images/services.jpg)">
    <div class="auto-container">
        <div class="content">
            <h1>Services</h1>
            <ul class="page-breadcrumb">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li>Services</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!-- Services Section Ten -->
<section class="services-section-ten style-two">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title centered">
            <div class="title">our services</div>
            <h2>We are here to manage your <br> finance with <span>experience</span></h2>
        </div>
        <div class="row clearfix">
            <!-- Services Block Fourteen -->
            <div class="services-block-fourteen col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="box-one"></div>
                    <div class="box-two"></div>
                    <div class="icon-box">
                        <span class="icon flaticon-banknote"></span>
                    </div>
                    <h6><a asp-controller="Services" asp-action="Loan">Pawn <br>Precious Things</a></h6>
                    <div class="text">We offer loan at only $4 rate per $100</div>
                </div>
            </div>

            <!-- Services Block Fourteen -->
            <div class="services-block-fourteen col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="box-one"></div>
                    <div class="box-two"></div>
                    <div class="icon-box">
                        <span class="icon flaticon-money"></span>
                    </div>
                    <h6><a asp-controller="Services" asp-action="BuySellGold">Trade <br /> Precious Metal</a></h6>
                    <div class="text">Trade precious metals at competitive price</div>
                </div>
            </div>

            <!-- Services Block Fourteen -->
            <div class="services-block-fourteen col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <div class="box-one"></div>
                    <div class="box-two"></div>
                    <div class="icon-box">
                        <span class="icon flaticon-budget"></span>
                    </div>
                    <h6><a asp-controller="Services" asp-action="Mortgage">Mortgage</a></h6>
                    <div class="text">Helping Ordinary People Achieving Extra-Ordinary Dreams</div>
                </div>
            </div>

            <!-- Services Block Fourteen -->
            <div class="services-block-fourteen col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="900ms" data-wow-duration="1500ms">
                    <div class="box-one"></div>
                    <div class="box-two"></div>
                    <div class="icon-box">
                        <span class="icon flaticon-house"></span>
                        <span class="icon flaticon-car"></span>
                    </div>
                    <h6><a asp-controller="Services" asp-action="HAInsurance">Home &amp; Auto <br> Insurance</a></h6>
                    <div class="text">We help finding the best insurance policy</div>
                </div>
            </div>

            <!-- Services Block Fourteen -->
            <div class="services-block-fourteen col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="box-one"></div>
                    <div class="box-two"></div>
                    <div class="icon-box">
                        <span class="icon flaticon-heartbeat"></span>
                    </div>
                    <h6><a asp-controller="Services" asp-action="LifeInsurance">Life <br> Insurance</a></h6>
                    <div class="text">We help finding the best insurance policy</div>
                </div>
            </div>

            <!-- Services Block Fourteen -->
            <div class="services-block-fourteen col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <div class="box-one"></div>
                    <div class="box-two"></div>
                    <div class="icon-box">
                        <span class="icon flaticon-money-bag"></span>
                    </div>
                    <h6><a asp-controller="Services" asp-action="PersonalLoan">Personal <br> Loan</a></h6>
                    <div class="text">We provide personal loan upto $35000</div>
                </div>
            </div>

            <!-- Services Block Fourteen -->
            <div class="services-block-fourteen col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="box-one"></div>
                    <div class="box-two"></div>
                    <div class="icon-box">
                        <span class="icon fa fa-credit-card"></span>
                    </div>
                    <h6><a asp-controller="Services" asp-action="CreditCards">Credit <br>Cards</a></h6>
                    <div class="text">Coming soon!</div>
                </div>
            </div>

            <!-- Services Block Fourteen -->
            <div class="services-block-fourteen col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="box-one"></div>
                    <div class="box-two"></div>
                    <div class="icon-box">
                        <span class="icon flaticon-earnings"></span>
                    </div>
                    <h6><a asp-controller="Services" asp-action="FinancePlanning">Investment &amp; Financial Planning</a></h6>
                    <div class="text">Creative ideas of how to add few zeros to bank account</div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Section Ten -->
@*<!-- Services Section Four-->
<section class="services-section-four">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title">
            <div class="clearfix">
                <div class="pull-left">
                    <h2>We surve as the best <br> services <span>planner</span></h2>
                </div>
                <div class="pull-right">
                    <div class="text">The argument in favor of using filler text goes something like this: If you use real content in the design process, anytime you reach a review point you’ll end up reviewing and negotiating the content itself and not the design.</div>
                </div>
            </div>
        </div>
        <div class="row clearfix">

            <!-- Services Block Four -->
            <div class="services-block-four style-two col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image">
                        <img src="images/resource/service-3.jpg" alt="">
                        <div class="overlay-box">
                            <div class="content">
                                <div class="icon-box">
                                    <span class="icon flaticon-statistics-1"></span>
                                </div>
                                <h6>Business Strategy and <br> Planning</h6>
                            </div>
                        </div>

                        <div class="overlay-box-two">
                            <div class="overlay-inner-two">
                                <div class="content">
                                    <div class="icon-box">
                                        <span class="icon flaticon-statistics-1"></span>
                                    </div>
                                    <h6><a href="services-single.html">Business Strategy and <br> Planning</a></h6>
                                    <div class="text">The argument in favor of the using filler text goes some of thing like this</div>
                                    <a class="read-more" href="services-single.html">Let’s start <span class="fa fa-angle-double-right"></span></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Services Block Four -->
            <div class="services-block-four style-two col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image">
                        <img src="images/resource/service-4.jpg" alt="">
                        <div class="overlay-box">
                            <div class="content">
                                <div class="icon-box">
                                    <span class="icon flaticon-target-1"></span>
                                </div>
                                <h6>Market Research and <br> Business Planning</h6>
                            </div>
                        </div>

                        <div class="overlay-box-two">
                            <div class="overlay-inner-two">
                                <div class="content">
                                    <div class="icon-box">
                                        <span class="icon flaticon-target-1"></span>
                                    </div>
                                    <h6><a href="services-single.html">Market Research and Business Planning</a></h6>
                                    <div class="text">The argument in favor of the using filler text goes some of thing like this</div>
                                    <a class="read-more" href="services-single.html">Let’s start <span class="fa fa-angle-double-right"></span></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Services Block Four -->
            <div class="services-block-four style-two col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image">
                        <img src="images/resource/service-3.jpg" alt="">
                        <div class="overlay-box">
                            <div class="content">
                                <div class="icon-box">
                                    <span class="icon flaticon-bank-building"></span>
                                </div>
                                <h6>Market Research and <br> Business Planning</h6>
                            </div>
                        </div>

                        <div class="overlay-box-two">
                            <div class="overlay-inner-two">
                                <div class="content">
                                    <div class="icon-box">
                                        <span class="icon flaticon-bank-building"></span>
                                    </div>
                                    <h6><a href="services-single.html">Bank Investment and <br> Savings</a></h6>
                                    <div class="text">The argument in favor of the using filler text goes some of thing like this</div>
                                    <a class="read-more" href="services-single.html">Let’s start <span class="fa fa-angle-double-right"></span></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- End Services Section Four-->*@