@{
    ViewData["Title"] = "Home & Auto Insurance";
}

<!--Page Title-->
<section class="page-title" style="background-image:url(images/background/8.jpg)">
    <div class="auto-container">
        <div class="content">
            <h1>@ViewData["Title"]</h1>
            <ul class="page-breadcrumb">
                <li><a asp-controller="Services" asp-action="Index">Services</a></li>
                <li>@ViewData["Title"]</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!--Sidebar Page Container-->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">

            <!--Sidebar Side-->
            <div class="sidebar-side col-lg-4 col-md-4 col-sm-12 d-none d-md-block">
                <aside class="sidebar default-sidebar">

                    <!--Blog Category Widget-->
                    <div class="sidebar-widget sidebar-blog-category">
                        <ul class="blog-cat">
                            <li><a asp-controller="Services" asp-action="BuySellGold">Trade Precious Metal Bullion</a></li>
                            <li><a asp-controller="Services" asp-action="Loan">Pawn Precious Things</a></li>
                            <li><a asp-controller="Services" asp-action="Mortgage">Mortgage</a></li>
                            <li class="active"><a asp-controller="Services" asp-action="Insurance">Home &amp; Auto Insurance</a></li>
                            <li><a asp-controller="Services" asp-action="Insurance">Life Insurance</a></li>
                            <li><a asp-controller="Services" asp-action="CreditCards">Credit Cards</a></li>
                            <li><a asp-controller="Services" asp-action="Loan">Unsecured Loan</a></li>
                            <li><a asp-controller="Services" asp-action="FinancePlanning">Investment &amp; Financial Planning</a></li>
                        </ul>
                    </div>

                    <!-- Contact Widget-->
                    <div class="sidebar-widget contact-widget">
                        <div class="sidebar-title">
                            <h4>Contact</h4>
                        </div>
                        <ul>
                            <li><span class="icon flaticon-map-1"></span> 123 Main Street, <br /> ON L1L 1L1</li>
                            <li><span class="icon flaticon-phone-receiver"></span> 1-416 111 1111</li>
                            <li><span class="icon flaticon-comment"></span> test@mail.com</li>
                        </ul>
                    </div>
                </aside>
            </div>

            <!--Content Side-->
            <div class="content-side col-lg-8 col-md-8 col-sm-12">
                <div class="services-single">
                    <h4>@ViewData["Title"]</h4>
                    <div class="text">
                        <p>
                            We do not provide the insurance directly to you, instead we find the best insurance policy to cover your vehicle and/or house.
                        </p>
                    </div>
                    <ul class="list-style-four">
                        <li><a href="https://www.mortgageweb.ca/en-US/HansalPandya" target="_blank">Click here</a> to know more about it</li>
                        <li>Fill out an application form <a href="https://www.mortgageweb.ca/en-US/HansalPandya" target="_blank">here</a>, and we will get back to you as soon as possible</li>
                    </ul>
                    <!-- Services Gallery -->
                    <div class="services-gallery">
                        <div class="services-carousel owl-carousel owl-theme">
                            <div class="slide">
                                <div class="image">
                                    <img src="~/images/home-insur.jpg" alt="">
                                </div>
                            </div>
                            <div class="slide">
                                <div class="image">
                                    <img src="~/images/auto-insur.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Services Info Tabs-->
                    @*<div class="Services-info-tabs">
                            <!--Service Tabs-->
                            <div class="service-tabs tabs-box">

                                <!--Tab Btns-->
                                <ul class="tab-btns tab-buttons clearfix">
                                    <li data-tab="#prod-audit" class="tab-btn active-btn">Audit</li>
                                    <li data-tab="#prod-strategy" class="tab-btn">Strategy</li>
                                    <li data-tab="#prod-sustainability" class="tab-btn">Sustainability</li>
                                </ul>

                                <!--Tabs Container-->
                                <div class="tabs-content">

                                    <!--Tab / Active Tab-->
                                    <div class="tab active-tab" id="prod-audit">
                                        <div class="content">
                                            <div class="text">
                                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan tium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                                                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequun tur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Tab-->
                                    <div class="tab" id="prod-strategy">
                                        <div class="content">
                                            <div class="text">
                                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan tium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                                                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequun tur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Tab-->
                                    <div class="tab" id="prod-sustainability">
                                        <div class="content">
                                            <div class="text">
                                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan tium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                                                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequun tur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Sidebar Page Container-->