@{
    ViewData["Title"] = "Insurance";
}

<!--Page Title-->
<section class="page-title" style="background-image:url(images/background/8.jpg)">
    <div class="auto-container">
        <div class="content">
            <h1>Insurance</h1>
            <ul class="page-breadcrumb">
                <li><a asp-controller="Services" asp-action="Index">Services</a></li>
                <li>Insurance</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!--Sidebar Page Container-->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">

            <!--Sidebar Side-->
            <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                <aside class="sidebar default-sidebar">

                    <!--Blog Category Widget-->
                    <div class="sidebar-widget sidebar-blog-category">
                        <ul class="blog-cat">
                            <li><a asp-controller="Services" asp-action="BuySellGold">Sell &amp; Buy Gold</a></li>
                            <li><a asp-controller="Services" asp-action="Loan">Loan against gold</a></li>
                            <li><a asp-controller="Services" asp-action="Mortgage">Mortgage</a></li>
                            <li class="active"><a asp-controller="Services" asp-action="Insurance">Insurance</a></li>
                            <li><a asp-controller="Services" asp-action="CreditCards">Credit Cards</a></li>
                            <li><a asp-controller="Services" asp-action="FinancePlanning">Investment &amp; Financial Planning</a></li>
                        </ul>
                    </div>

                    <!-- Contact Widget-->
                    <div class="sidebar-widget contact-widget">
                        <div class="sidebar-title">
                            <h4>Contact</h4>
                        </div>
                        <ul>
                            <li><span class="icon flaticon-map-1"></span> 123 Main Street, <br /> ON L1L 1L1</li>
                            <li><span class="icon flaticon-phone-receiver"></span> 1-416 111 1111</li>
                            <li><span class="icon flaticon-comment"></span> test@mail.com</li>
                        </ul>
                    </div>

                    <!-- Brochures Widget-->
                    @*<div class="sidebar-widget brochures-widget">
                            <div class="sidebar-title">
                                <h4>Brochures</h4>
                            </div>
                            <div class="text">View our 2019 financial prospectus brochure for an easy to read guide on all of the services offer.</div>
                            <ul class="files">
                                <li><a href="#"><span class="fa fa-file-pdf-o"></span> Download Brochure</a></li>
                                <li><a href="#"><span class="fa fa-file-word-o"></span> Characteristics</a></li>
                            </ul>
                        </div>*@

                    <!-- Banner Widget-->
                    @*<div class="sidebar-widget banner-widget">
                            <div class="widget-content" style="background-image:url(images/resource/service-15.jpg)">
                                <div class="logo">
                                    <img src="images/icons/widget-logo.png" alt="" />
                                </div>
                                <div class="title">Securied Business with</div>
                                <h2>Financ</h2>
                                <a href="contact.html" class="theme-btn btn-style-seventen">Let’s start now <span class="icon flaticon-link"></span></a>
                            </div>
                        </div>*@

                </aside>
            </div>

            <!--Content Side-->
            <div class="content-side col-lg-8 col-md-12 col-sm-12">
                <div class="services-single">
                    <h4>Finance Planning</h4>
                    <div class="text">
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered altera tion in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden.</p>
                        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                    </div>
                    <ul class="list-style-four">
                        <li>Sed do eiusmod tempor incididunt ut</li>
                        <li>Labore et dolore magna aliqua</li>
                        <li>Ut enim ad minim veniam quis nostrud</li>
                        <li>Andomised words which don't look</li>
                    </ul>
                    <!-- Services Gallery -->
                    <div class="services-gallery">
                        <div class="services-carousel owl-carousel owl-theme">
                            <div class="slide">
                                <div class="image">
                                    <img src="images/resource/service-16.jpg" alt="">
                                </div>
                            </div>
                            <div class="slide">
                                <div class="image">
                                    <img src="images/resource/service-17.jpg" alt="">
                                </div>
                            </div>
                            <div class="slide">
                                <div class="image">
                                    <img src="images/resource/service-16.jpg" alt="">
                                </div>
                            </div>
                            <div class="slide">
                                <div class="image">
                                    <img src="images/resource/service-17.jpg" alt="">
                                </div>
                            </div>
                            <div class="slide">
                                <div class="image">
                                    <img src="images/resource/service-16.jpg" alt="">
                                </div>
                            </div>
                            <div class="slide">
                                <div class="image">
                                    <img src="images/resource/service-17.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Services Info Tabs-->
                    <div class="Services-info-tabs">
                        <!--Service Tabs-->
                        <div class="service-tabs tabs-box">

                            <!--Tab Btns-->
                            <ul class="tab-btns tab-buttons clearfix">
                                <li data-tab="#prod-audit" class="tab-btn active-btn">Audit</li>
                                <li data-tab="#prod-strategy" class="tab-btn">Strategy</li>
                                <li data-tab="#prod-sustainability" class="tab-btn">Sustainability</li>
                            </ul>

                            <!--Tabs Container-->
                            <div class="tabs-content">

                                <!--Tab / Active Tab-->
                                <div class="tab active-tab" id="prod-audit">
                                    <div class="content">
                                        <div class="text">
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan tium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequun tur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                        </div>
                                    </div>
                                </div>

                                <!--Tab-->
                                <div class="tab" id="prod-strategy">
                                    <div class="content">
                                        <div class="text">
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan tium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequun tur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                        </div>
                                    </div>
                                </div>

                                <!--Tab-->
                                <div class="tab" id="prod-sustainability">
                                    <div class="content">
                                        <div class="text">
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan tium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequun tur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">

                        <!-- Services Block Two -->
                        <div class="services-block-two col-lg-6 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <div class="image">
                                    <img src="images/resource/service-1.jpg" alt="" />
                                    <div class="overlay-box">
                                        <div class="overlay-inner">
                                            <div class="icon-box">
                                                <span class="icon flaticon-analytics"></span>
                                            </div>
                                            <h5><a href="#">Financial Management <br> and Consulting</a></h5>
                                        </div>
                                    </div>
                                    <div class="overlay-box-two">
                                        <div class="overlay-inner-two">
                                            <div class="content">
                                                <div class="icon-box">
                                                    <span class="icon flaticon-target"></span>
                                                </div>
                                                <div class="text">The argument in favor of using filler text goes something like this</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Services Block Two -->
                        <div class="services-block-two col-lg-6 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <div class="image">
                                    <img src="images/resource/service-2.jpg" alt="" />
                                    <div class="overlay-box">
                                        <div class="overlay-inner">
                                            <div class="icon-box">
                                                <span class="icon flaticon-statistics"></span>
                                            </div>
                                            <h5><a href="#">Market Research <br> and Analysis</a></h5>
                                        </div>
                                    </div>
                                    <div class="overlay-box-two">
                                        <div class="overlay-inner-two">
                                            <div class="content">
                                                <div class="icon-box">
                                                    <span class="icon flaticon-statistics"></span>
                                                </div>
                                                <div class="text">The argument in favor of using filler text goes something like this</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- More Services -->
                    <div class="more-services">
                        <div class="clearfix">
                            <div class="pull-left">
                                <a href="#"><span class="fa fa-angle-double-left"></span> Previous Service</a>
                            </div>
                            <div class="pull-right">
                                <a href="#">Newer Service <span class="fa fa-angle-double-right"></span></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<!--End Sidebar Page Container-->