@using jpfc.ConfigOptions
@using Microsoft.Extensions.Options
@inject IOptions<ContactInfoOptions> ContactInfoOptions
@{
    ViewData["Title"] = "Life Insurance";
    ViewData.AddActivePage(ServicesNavPages.LifeInsurance);
}

@section MetaTags{
    <meta name="keywords" content="life insurance, cheap life insurance in Barrie, health insurance, purchase life insurance in Canada" />
    <meta name="description" content="Life insurance at competitive price - Take an advantage of our wholesale volume pricing." />
}

@section Styles{
    <style>
        .services-gallery .owl-stage-outer {
            max-height: 300px;
        }
    </style>
}

<!--Page Title-->
<section class="page-title lazy-image" data-src="/images/life-insur-min.jpg">
    <div class="auto-container">
        <div class="content">
            <h1>@ViewData["Title"]</h1>
            <ul class="page-breadcrumb">
                <li><a asp-controller="Services" asp-action="Index">Services</a></li>
                <li>@ViewData["Title"]</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!--Sidebar Page Container-->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">

            @* side bar nav will not appear on mobile device *@
            <partial name="~/Views/Services/_ServicesNavSideBar.cshtml" />

            <!--Content Side-->
            <div class="content-side col-lg-8 col-md-8 col-sm-12">
                <div class="services-single">
                    <h4>Life &amp; Disability Insurance</h4>
                    <!-- Services Gallery -->
                    <div class="services-gallery">
                        <div class="services-carousel owl-carousel owl-theme">
                            <div class="slide">
                                <div class="image">
                                    <img class="lazy-image" data-src="/images/life-insur-min.jpg" alt="Life insurance">
                                    <noscript><img src="~/images/life-insur-min.jpg" alt="Life insurance"></noscript>
                                </div>
                            </div>
                            <div class="slide">
                                <div class="image">
                                    <img class="lazy-image" data-src="/images/life-insur-myth-min.jpg" alt="Insurance">
                                    <noscript><img src="~/images/life-insur-myth-min.jpg" alt="Insurance"></noscript>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="quote">
                        <blockquote>
                            <div class="quote-icon flaticon-left-quote"></div>
                            <div class="quote-text">
                                Guarantee in life: "Not if, but when we will die"
                            </div>
                        </blockquote>
                    </div>
                    <div class="text">
                        <p>
                            Need to protect our loved ones just in case . . .<br />
                            Contact us or <a href="https://bettermortgageinsurance.ca/ashok" target="_blank">click here <i class="fa fa-external-link"></i></a> for more information.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Sidebar Page Container-->