@using jpfc.ConfigOptions
@using Microsoft.Extensions.Options
@inject IOptions<ContactInfoOptions> ContactInfoOptions
@{
    ViewData["Title"] = "Pawn Precious Things";
    ViewData.AddActivePage(ServicesNavPages.Loan);
}

<!--Page Title-->
<section class="page-title" style="background-image:url(../../images/banner-images/watch.png)">
    <div class="auto-container">
        <div class="content">
            <h1>@ViewData["Title"]</h1>
            <ul class="page-breadcrumb">
                <li><a asp-controller="Services" asp-action="Index">Services</a></li>
                <li>@ViewData["Title"]</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!--Sidebar Page Container-->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">

            @* side bar nav will not appear on mobile device *@
            <partial name="~/Views/Services/_ServicesNavSideBar.cshtml" />

            <!--Content Side-->
            <div class="content-side col-lg-8 col-md-8 col-sm-12">
                <div class="services-single">
                    <h4>Pawn Jewellery, Diamonds, Watches, etc.</h4>

                    <!-- Services Gallery -->
                    <div class="services-gallery">
                        <div class="services-carousel owl-carousel owl-theme">
                            <div class="slide">
                                <div class="image">
                                    <img src="~/images/jewel_loanpower.png" alt="">
                                </div>
                            </div>
                            <div class="slide">
                                <div class="image">
                                    <img src="~/images/jpfc-goldbar.jpg" alt="" style="height: 450px">
                                </div>
                            </div>
                            <div class="slide">
                                <div class="image">
                                    <img src="~/images/rsz_rolex.jpg" alt="">
                                </div>
                            </div>
                            <div class="slide">
                                <div class="image">
                                    <img src="~/images/jewels.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text">
                        <p>We offer instant loan against your precious treasure.</p>
                    </div>
                    <ul class="list-style-four">
                        <li>Only $4 interest per $100 loan for 30 days</li>
                        @*<li>Interest calculated monthly <span class="text-muted font-italic">(some conditions may apply)</span></li>*@
                        <li>Open loan to payoff the balance without penalty</li>
                        <li>Flexible payment options - Pay interest only or full balance when due in 30 days</li>
                        <li>We accept Cash or E-Transfer (<a href="mailto:@ContactInfoOptions.Value.Email">@ContactInfoOptions.Value.Email</a>)</li>
                        <li>Applicable service fee and storage fee may apply</li>
                        <li>
                            Government issued photo ID required - driver's license, passpost, citizenship card, PR card, etc <br />
                            <span class="text-danger font-italic">(Health card will not be accepted)</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Sidebar Page Container-->