@using jpfc.ConfigOptions
@using Microsoft.Extensions.Options
@inject IOptions<ContactInfoOptions> ContactInfoOptions
@{
    ViewData["Title"] = "Personal Loan";
    ViewData.AddActivePage(ServicesNavPages.PersonalLoan);
}

<!--Page Title-->
<section class="page-title" style="background-image:url(../../images/watch-min.png)">
    <div class="auto-container">
        <div class="content">
            <h1>@ViewData["Title"]</h1>
            <ul class="page-breadcrumb">
                <li><a asp-controller="Services" asp-action="Index">Services</a></li>
                <li>@ViewData["Title"]</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!--Sidebar Page Container-->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">

            @* side bar nav will not appear on mobile device *@
            <partial name="~/Views/Services/_ServicesNavSideBar.cshtml" />

            <!--Content Side-->
            <div class="content-side col-lg-8 col-md-8 col-sm-12">
                <div class="services-single">
                    <h4>@ViewData["Title"]</h4>
                    <div class="text">
                        <p>We offer unsecured loan upto $35,000 CAD</p>
                    </div>
                    <div class="row mb-4">
                        <div class="col-4 col-lg-3">
                            <div class="image">
                                <img src="~/images/borrowel-min.png" alt="">
                            </div>
                        </div>
                        <div class="col-4 col-lg-3">
                            <div class="image">
                                <img src="~/images/fairstone.png" alt="">
                            </div>
                        </div>
                        <div class="col-4 col-lg-3">
                            <div class="image">
                                <img src="~/images/lendful-min.png" alt="">
                            </div>
                        </div>
                    </div>

                    <h5 class="text-dark">Who needs a personal loan?</h5>
                    <div class="text">
                        <p>
                            There are many reasons why a customer might need a personal loan.<br />
                            The most common are:
                        </p>
                    </div>
                    <ul>
                        <li>
                            <div class="row">
                                <div class="col-2">
                                    <img src="~/images/renovate.png" />
                                </div>
                                <div class="col">
                                    <div class="text">
                                        <p>
                                            <strong>Renovations</strong><br />
                                            LTV > 80% : Refinance with Mortgage is not available<br />
                                            LTV < 80% : New rules… Refinance is much more difficult
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-2">
                                    <img src="~/images/cash.png" />
                                </div>
                                <div class="col">
                                    <div class="text">
                                        <p>
                                            <strong>Cashdown</strong><br />
                                            Certain lenders allow Non-traditional cashdowns
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-2">
                                    <img src="~/images/debt.png" />
                                </div>
                                <div class="col">
                                    <div class="text">
                                        <p>
                                            <strong>Debt Consolidation</strong><br />
                                            Improve TDSR : Payment on a personal loan VS 3% of outstandings on revolving credit
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<!--End Sidebar Page Container-->